body {
  background-color: #313338;
}

.edit-channel-container {
  display: flex;
  flex-direction: row;
  height: 100vh; 
  background-color: #313338;
  border-radius: 8px;
  margin: 0 auto;
  color: white;
  justify-content: center;
}

.edit-side-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 12px;
  width: 240px;
  background-color: #2B2D31;
}

.delete-channel-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
  padding: 8px 10px;
  text-decoration: none; 
}

.delete-channel-link:hover {
  background-color: #404249;
  width: 230px;
  margin: 5px;
  border-radius: 3px;
}

.edit-channel-nav {
  padding: 5px;
}

.edit-channel-input {
  display: flex;
  flex-direction: column;
  width: 400px; 
  background-color: #313338;
  padding: 20px;
}

.edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #313338;
  border: 2px solid #B5BAC1;
  border-radius: 50%;
  color: #B5BAC1;
  text-decoration: none;
  font-size: 18px;
  font-weight: 100 !important;
}

.close-link:hover {
  background-color: #383C42;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label span {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #1E1F22;
  color: white;
}

.unsaved-changes-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #111;
  color: white;
  padding: 15px;
  border-radius: 6px;
  gap: 60px;
  white-space: nowrap;
  min-width: 600px;
  /* border: 1px solid red; */
}

.unsaved-changes-popup .unsaved-changes-message,
.unsaved-changes-popup .unsaved-changes-button {
  display: flex;
  align-items: center;
}

.unsaved-changes-popup span {
  margin-right: auto;
  /* border: 1px solid red; */
}

.unsaved-changes-link .popup-link  {
  color: white;
}

.unsaved-changes-link .popup-link:hover  {
  text-decoration: underline;
}
.unsaved-changes-popup button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 4px;
  /* border: 1px solid red; */
  margin-top: 0; /* Override any margin-top set by other styles */
}

/* .unsaved-changes-button .save-changes-button:hover {
  background-color: #404249;
} */

.unsaved-changes-popup button:last-child {
  background-color: #2D7D46;
}

.unsaved-changes-popup button:last-child:hover {
  background-color: #0e511c; /* Darker green on hover */
}

/* Added this class to change the popup color to red */
.red-popup {
  background-color: red !important;
}
