
/* #root {
  display: flex;
  height: 100vh; 
} */

.discover-page {
  display: flex;
  align-items: flex-start;
  height: 100vh; /* ensure full viewport height */
  width: 100%; /* make sure it takes the full width */
}




.middle-bar-nav {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* distribute space between channel-nav and profile-nav */
  height: 100vh; /* ensure it takes the full height */
  padding: 0;
}

.category-nav {
  min-height: 200px;
  width: 180px;
  padding: 5px;
  flex-grow: 1; /* allow it to grow */
}

.profile-nav {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #232428;
  border-top: 1px solid #333;
}

.profile-info {
  font-size: 12px;
  padding: 0 0 0 10px;
  margin: 5px 0 0 0;
  min-width: 100px;
  max-height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* align text to the left */
}

.logout-button {
  padding: 0;
  min-height: 30px;
  margin: 10px 0;
  border-radius: 3px;
  cursor: pointer;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 440px;
  text-align: center;
  background-color: #5865F2;
  padding: 50px;
  border-radius: 10px;
  color: white;
  margin-bottom: 30px;
}

.server-grid {
  display: flex;
  flex-wrap: wrap; /* allows the items to wrap into multiple rows */
  gap: 20px;
  padding: 10px 0 0 0;
}


.server-card {
  background-color: #232428 ;
  /* min-width: 220px; 
  max-width: 300px; 
  min-height: 300px; 
  max-height: 300px;  */
  width: 300px; /* consistent width */
  height: 300px; /* consistent height */
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #F2F3F5;
  position: relative;

}

.server-banner {
  width: 100%;
  height: 150px; /* Ensure this is half of the card height */
}

.server-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 100px; /* Adjust position relative to the banner */
}

.server-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #232428; /* create a border-like effect outside the element */
}

.server-avatar:hover {
  width: 50px;
  height: 50px;
  border-radius: 30%;
}

.server-banner-placeholder {
  background-color: #5865F2; /* set the background color to purple */
  width: 100%; /* Ensure this takes full width */
  height: 150px; /* Ensure this is half of the card height */
}

.server-avatar-placeholder {
  background-color: #5865F2; 
  width: 50px; 
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* set the text color to white */
  font-size: 24px; /* set the font size to match your design */
  border-radius: 30%; /* make it circular */
  box-shadow: 0 0 0 4px #232428;
}

.server-name {
  font-weight: bold;
  margin-top: 10px; /* ensure this accounts for the avatar height */
}

.server-description {
  color: grey;
  text-align: center;
  padding: 0 10px;
}