/* Hide scrollbar for Chrome, Safari, and Opera */
.main-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.main-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.discover-page {
  display: flex;
  align-items: flex-start;
  height: 100vh; /* ensure full viewport height */
  width: 100%; /* make sure it takes the full width */
  overflow: hidden; /* Prevents scrolling on the parent */
}

.middle-bar-nav {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* distribute space between channel-nav and profile-nav */
  height: 100vh; /* ensure it takes the full height */
  padding: 0;
  background-color: #2B2D31;
  overflow: hidden; /* Prevents scrolling */
}

.discover-header {
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 5px 0px;
}

.category-nav {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  width: 240px;
  padding: 5px;
  flex-grow: 1; /* allow it to grow */
}

.category-link {
  color: #b9bbbe;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  margin: 0px 4px;
}

.category-link.active {
  color: white;
  background-color: #5865F2;
  border-radius: 3px;
}

.category-link.active::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #5865F2;
  border-radius: 3px;
}

.profile-nav {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #232428;
  border-top: 1px solid #333;
}

.profile-info {
  font-size: 12px;
  padding: 0 0 0 10px;
  margin: 5px 0 0 0;
  min-width: 100px;
  max-height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* align text to the left */
}

.logout-button {
  padding: 0;
  min-height: 30px;
  margin: 10px 0;
  border-radius: 3px;
  cursor: pointer;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  height: 100vh; /* Ensure it takes the full height */
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 440px;
  text-align: center;
  background-color: #5865F2;
  padding: 50px;
  border-radius: 10px;
  color: white;
  margin-bottom: 30px;
  flex-shrink: 0; /* Prevent the hero section from shrinking */
}

.featured-header {
  margin: 0px 0px 10px 0px;
}

.server-grid {
  display: flex;
  flex-wrap: wrap; /* allows the items to wrap into multiple rows */
  gap: 20px;
  padding: 10px 0 0 0;
  flex: 1; /* Allow it to grow and fill the remaining space */
  overflow-y: auto; /* Enable scrolling for the server grid */
}

.server-card {
  background-color: #232428 ;
  width: 300px; /* consistent width */
  height: 300px; /* consistent height */
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #F2F3F5;
  position: relative;
}

.server-card:hover {
  background-color: #1c1d20 ;
}

.server-banner {
  width: 100%;
  height: 150px; /* Ensure this is half of the card height */
}

.server-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 100px; /* Adjust position relative to the banner */
}

.server-avatar {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  box-shadow: 0 0 0 4px #232428; /* create a border-like effect outside the element */
}

.server-avatar:hover {
  width: 50px;
  height: 50px;
  border-radius: 30%;
}

.server-banner-placeholder {
  background-color: #5865F2; /* set the background color to purple */
  width: 100%; /* Ensure this takes full width */
  height: 150px; /* Ensure this is half of the card height */
}

.server-avatar-placeholder {
  background-color: #5865F2;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* set the text color to white */
  font-size: 24px; /* set the font size to match your design */
  border-radius: 30%; /* make it circular */
  box-shadow: 0 0 0 4px #232428;
}

.server-name {
  font-weight: bold;
  margin-top: 10px; /* ensure this accounts for the avatar height */
}

.server-description {
  color: grey;
  text-align: center;
  padding: 0 10px;
}
