.server-details-page {
  display: flex;
  align-items: flex-start;
  height: 100vh; /* ensure full viewport height */
  width: 100%; 
  justify-content: flex-start !important;
}

.server-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 10px; 
  height: 50px; 
  position: relative; /* make this element the reference for the dropdown */
  cursor: pointer; /* Make the cursor a pointer */
  border-bottom: 0.5px solid black;
  /* border: 1px solid red; */
}

.server-name-side-nav {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  /* border: 1px solid blue; */
}

.dropdown-icon {
  font-size: 12px;
  /* border: 1px solid red; */
  margin: 0 10px; 
  display: flex;
  align-items: center; 
  cursor: pointer; /* Ensure the icon has a pointer cursor */
}

.server-dropdown-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #0e0e0e;
  margin: 60px 10px;
  padding: 5px 5px;
  width: 220px;
  border-radius: 4px;
  font-size: 14px;
  /* gap: 10px; */
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.server-dropdown-menu a {
  color: gray;
  padding: 10px; /* add padding for better click area */
  width: 100%; /* make the link take the full width */
  text-decoration: none; /* remove underline */
  display: block; /* make the link a block element */
  box-sizing: border-box; /* ensure padding is included in the width */
}

.server-dropdown-menu a:hover {
  background-color: #4752C4;
  color: white; /* change color on hover */
  border-radius: 3px;
}

/* .server-dropdown-menu a {
  color: gray !important;
} */

/* .server-dd-hover {
  width: 160px !important;
  border-radius: 3;
  padding: 5px;
  background-color: #4752C4;
  color: white;
} */


.server-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* center the content vertically */
  height: 100%;
  padding: 20px;
  box-sizing: border-box; /* ensure padding is included in the element's total width and height */
}

.welcome-message {
  /* border: 1px solid red; */
  max-width: 360px ;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box; 
}


.welcome-message p {
  font-size: 12px;
  color: grey;
  margin-bottom: 20px;
  text-align: left;
  white-space: normal;
}

.welcome-message ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.welcome-message li {
  /* border: 1px solid red; */
  padding: 0 0 0 10px;
  background-color: #1E1F22;
  border-radius: 6px;
  height: 50px;
  font-size: 12px;
  margin-bottom: 10px;
  white-space: normal;
  display: flex;
  align-items: center; /* vertically center the text */
  justify-content: flex-start; /* align the text to the left */
  padding: 0 10px; 
}

.server-action-items {
  max-width: 340px ;
  width: 100%; /* ensure it spans the full width of parent */
  text-align: left; 
}
