.server-details-page-container {
  display: flex;
  align-items: flex-start;
  height: 100vh; /* ensure full viewport height */
  width: 100vw; 
  justify-content: flex-start !important;
  /* border: 5px solid green; */

}

.server-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 10px; 
  height: 50px; 
  position: absolute; /* absolutely position this element */
  top: 0; /* position it at the top of the banner */
  left: 0;
  right: 0;
  cursor: pointer; /* make the cursor a pointer */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 2), rgba(0, 0, 0, 0)); /* gradient from semi-transparent to transparent */
  color: white; /* text color to contrast with the background */
}

.server-name-container.no-banner {
  position: relative; /* only relatively position this element */
  top: unset; /* unset the top positioning */
  left: unset; /* unset the left positioning */
  right: unset; /* unset the right positioning */
  background: none; /* remove the background gradient */
  border-bottom: 1px solid black;
}

.server-name-side-nav {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  /* border: 1px solid blue; */
}

.server-banner {
  position: relative;
  width: 100%;
  height: 135px; /* Adjust the height as needed */
  overflow: hidden;
}

.server-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container proportionally */
}


.dropdown-icon {
  font-size: 12px;
  /* border: 1px solid red; */
  margin: 0 10px; 
  display: flex;
  align-items: center; 
  cursor: pointer; /* Ensure the icon has a pointer cursor */
}

.server-dropdown-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #0e0e0e;
  margin: 60px 10px;
  padding: 5px 5px;
  width: 220px;
  border-radius: 4px;
  font-size: 14px;
  /* gap: 10px; */
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* .server-dropdown-menu a {
  color: gray;
  padding: 10px; 
  width: 100%; 
  text-decoration: none; 
  display: block; 
  box-sizing: border-box; 
}


.server-dropdown-menu a:hover {
  background-color: #4752C4;
  color: white; 
  border-radius: 3px;
} */

.server-dropdown-menu a,
.server-dropdown-menu .create-channel-link {
  color: gray;
  padding: 10px; /* add padding for better click area */
  width: 100%; /* make the link take the full width */
  text-decoration: none; /* remove underline */
  display: block; /* make the link a block element */
  box-sizing: border-box; /* ensure padding is included in the width */
  background: none; /* make background transparent */
  border: none; /* remove border */
  text-align: left; /* align text to the left */
  cursor: pointer; /* make it look clickable */
  font-size: 14px; /* adjust font size to match */
}

.server-dropdown-menu a:hover,
.server-dropdown-menu .create-channel-link:hover {
  background-color: #4752C4;
  color: white; /* change color on hover */
  border-radius: 3px;
}

button.create-channel-link {
  margin-top: 0 !important; /* override the margin-top  */
}


li.create-channel-item {
  margin-top: 0 !important; /* optional */
}

/* ---------- join server banner list ---------- */

.banner-channel-nav-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid yellow;    */
}

.channel-and-main {
  /* border: 1px solid yellow;  */
  
  display: flex;
}


.channel-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100vh;
  font-size: 12px;
  width: 240px;
  background-color: #2B2D31;
  /* border: 1px solid red; */
}

.join-server-banner-container {
  background-color: #4752C4;;
  /* border: 3px solid white; */
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
}

.join-server-call-to-action {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}



.join-server-words {
  /* border: 1px solid red; */
  font-size: 12px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.join-server-button {
  background-color: #4752C4;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 0px;

}

.server-dd-hover.leave-server-item {
  border-radius: 3px;
  padding: 10px;
  color: red;
  cursor: pointer;
}

.server-dd-hover.leave-server-item:hover {
  border-radius: 3px;
  color: white;
  background-color: red;
}

/* ---------- channel list ---------- */

.channel-list-container {
  min-height: 200px;
  width: 240px;
  padding: 5px;
  flex-grow: 1; /* allow it to grow */
  /* border: 1px solid red; */
}

.channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 14px 10px 0px;
  /* border: 1px solid green; */
}

.create-channel-icon {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: none;
  color: #80848E;
  cursor: pointer;
  font-size: 12px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  /* border: 1px solid green; */
}

.create-channel-icon:hover {
  color: white;
  background-color:transparent;
}

.no-channels {
  margin: 10px 10px 10px 10px;
  color: #5a5d66;
}

/* ---- remove the default marker from list items */

ul {
  list-style-type: none;
  padding: 0; /* remove default padding */
  margin: 0; /* remove default margin */
}

li {
  text-align: start !important; /* ensure text starts at the left */
}




.channel-list-item {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 18px;
  color: #80848E;
  padding: 8px 10px;
  margin: 3px;
  border-radius: 4px;
  background-color: transparent; /* ensure background is transparent by default */
}

.channel-list-item:hover{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 18px;
  color: #80848E;
  padding: 8px 10px;
  margin: 3px;
  border-radius: 4px;
  background-color: #35373C;
}

.channel-icon, .settings-icon {
  color: #80848E;

}

.settings-icon {
  margin-left: auto;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.channel-name {
  flex-grow: 1;
  margin-left: 8px;
  color: #80848E;
  font-size: 16px;
  cursor: pointer;
}

.settings-icon:hover {
  color: white;
}

.channel-name:hover {
  color: white;
}


/* ------- tooltip styling  ------- */
.settings-icon .tooltip, .create-channel-tooltip-wrapper .tooltip {
  visibility: hidden;
  background-color: #111;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 5px;
  position: absolute;
  z-index: 1;
  bottom: 165%; /* position the tooltip above the icon */
  left: 50%;
  transform: translateX(-50%); /* center the tooltip */
  width: 100px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px; /* Smaller font size */
  white-space: nowrap; /* Prevent text from wrapping */
}

.settings-icon .tooltip::after, .create-channel-tooltip-wrapper .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #111 transparent transparent transparent;
}

.settings-icon:hover .tooltip, .create-channel-tooltip-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.create-channel-tooltip-wrapper {
  position: relative;
}

/* ---------- main content chat ---------- */
.server-main-content-container {
  padding: 0px 20px;
  height: 100vh;
  width: 600px;
  display: flex;
  justify-content: baseline;
  /* border: 1px solid blue; */

}

.server-main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 

  right: 0; /* ensure it is positioned to the right */
  bottom: 0; /* pin it to the bottom of the page */
}

.messages-container {
  flex-grow: 1; /* allow it to take up remaining space */
  width: 100%; /* ensure it takes the full width */
  overflow-y: auto; /* enable scrolling if the content overflows */
  /* border: 1px solid red; */
}



.message-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0px;
  /* border: 1px solid blue; */
}

.message-header {
  display: flex;
  flex-direction: row;
  gap: 200px;

}

.message-username-timestamp {
  display: flex;
  flex-direction: row;
  color: #F2F3F5;
  gap: 10px;
  align-items: flex-end;
  /* border: 1px solid blue; */
}

.message-timestamp {
  color: #949BA4;
  font-size: 12px;
  align-self: flex-end; 
  /* border: 1px solid yellow; */
}

.message-actions {
  position: relative;
}

.message-actions-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.message-dropdown-menu {
  display: flex; /* <--- use flex for layout */
  flex-direction: column; /* <--- column layout */
  list-style: none;
  background-color: #0e0e0e;
  margin: 10px 0; /* adjust margin as needed */
  padding: 5px;
  width: 220px;
  border-radius: 4px;
  font-size: 14px;
  position: absolute;
  top: 20px; /* adjust position as needed */
  right: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.message-dropdown-menu li {
  color: gray;
  padding: 10px;
  cursor: pointer;
  text-align: left; /* align text to the left */
}

.message-dropdown-menu li:hover {
  background-color: #4752C4;
  color: white;
  border-radius: 3px;
}

.message-delete {
  margin-top: 0px;
  /* border: 1px solid red; */
}

.message-delete button {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 0px;
  cursor: pointer;
  width: 100%;
  margin-top: 0px;
  /* border: 1px solid red; */
}

.message-content{
  color: #DCDEE1;
}

.input-container {
  display: flex;
  flex-direction: row;
  width: 1000px; /* Changed from min-width to width */
  margin: 20px 0px;
  /* border: 1px solid red; */
}

.input-container input {
  flex-grow: 1;
  background-color: #383A3F;
  color: white;
  border: none; /* optional: add some styling */
  padding: 15px;
  margin: 0px 50px 10px 0px;
  border-radius: 10px;
}

.input-container button {
  padding: 8px;
}

.welcome-message {
  /* border: 1px solid red; */
  max-width: 360px ;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box; 
}


.welcome-message p {
  font-size: 12px;
  color: #80848E;
  margin-bottom: 20px;
  text-align: left;
  white-space: normal;
}

.welcome-message ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.welcome-message li {
  /* border: 1px solid red; */
  padding: 0 0 0 10px;
  background-color: #1E1F22;
  border-radius: 6px;
  height: 50px;
  font-size: 12px;
  margin-bottom: 10px;
  white-space: normal;
  display: flex;
  align-items: center; /* vertically center the text */
  justify-content: flex-start; /* align the text to the left */
  padding: 0 10px; 
}

.server-action-items {
  max-width: 340px ;
  width: 100%; /* ensure it spans the full width of parent */
  text-align: left; 
}