.server-name-middle-bar-nav{
  padding: 10px;
  border-bottom: .5px solid black;
  font-size: 12px;
}

.channel-nav {
  border: 1px solid red;
  font-size: 12px;
}

.server-banner {
  padding: 0px;
  margin: 0px;
  /* height: 100px;
  object-fit: cover; */
}

.server-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* center the content vertically */
  height: 100%;
  padding: 20px;
  box-sizing: border-box; /* ensure padding is included in the element's total width and height */
}

.welcome-message {
  border: 1px solid red;
  max-width: 360px ;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box; 
}


.welcome-message p {
  font-size: 12px;
  color: grey;
  margin-bottom: 20px;
  text-align: left;
  white-space: normal;
}

.welcome-message ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.welcome-message li {
  /* border: 1px solid red; */
  padding: 0 0 0 10px;
  background-color: #1E1F22;
  border-radius: 6px;
  height: 50px;
  font-size: 12px;
  margin-bottom: 10px;
  white-space: normal;
  display: flex;
  align-items: center; /* vertically center the text */
  justify-content: flex-start; /* align the text to the left */
  padding: 0 10px; 
}

.server-action-items {
  max-width: 340px ;
  width: 100%; /* ensure it spans the full width of parent */
  text-align: left; 
}
