.top-navigation-bar {
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  left: 0;
  top: 0 !important;
  display: flex;
  z-index: 1000; 
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.home-link {
  /* border: 1px solid red; */
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  padding: 8px 12px;;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.auth-buttons {
  display: flex;

}

.login-button {
  /* border: 1px solid red !important; */
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  margin: 10px;
  cursor: pointer;
  min-width: 70px;
  max-width: 80px;
  align-items: center;  white-space: nowrap; 
  text-align: center;
  display: inline-block;
}

.login-button:hover {
  /* border: 1px solid red !important; */
  background-color: white;
  color:#5865F2 !important;
}

.welcome-message {
  /* border: 1px solid red; */
  color: white;
  font-size: 16px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-align: center;
}

.signup-button {
  background-color:#5865F2 !important;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  margin: 10px;
  cursor: pointer;
  min-width: 80px;
  max-width: 90px;
  align-items: center;  
  white-space: nowrap; 
  text-align: center;
  display: inline-block;
}

.profile-dropdown {
  position: absolute;
  /* Additional styles for the profile dropdown */
}
